@CHARSET "UTF-8";

/* general page */
.page-picture img{
	width: 410px;
	height: 362px;
}




/* index page */
.featured-box img {
	width: 160px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-button: 12px;
}

.featured-desc-center{
	margin-top:12px;
}

.featured-desc-center p{
	margin:0px;
}

/* service-iaas page */
.img-wrp{
	padding-top:25px;
}

.img-wrp img{
	width:180px; 
	height:200px; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.iaaspage img{
	width:357px; 
	height:285px; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.services-box-animated .front{
	height:82px;
	border:none;
}

.services-box-animated .back{
	height:auto;
	margin-top:20px;
	background: none repeat scroll 0% 0% #27629C
}

/*services-cloud workspace page*/
.parent-header{
	margin-top: 18px;
	margin-bottom: 2px;
	font-weight:700;
	font-style: italic;
}

.child-content{
	margin-bottom:2px;
}

.child-list{
	padding-left: 25px;
}

.child-list p{
	margin-bottom:10px;
	text-align:justify;
}


/*about-leadership page */
.team {
	height: 812px;
}

/* partner */

.button.color {
	background: none repeat scroll 0% 0% #27629C;
}

.button.gwxblue {
	color: #FFF;
	background: none repeat scroll 0% 0% #0080FF;
}

a.button.gwxblue.animated.fadeInLeft:hover{
	background: none repeat scroll 0% 0% #27629C;
}

a.button.color.animated.fadeInRight:hover{
	background: none repeat scroll 0% 0% #0080FF;
}



/*einnovate page*/

.bg-red{
	background-color:#FA0F0C;
	height: 113px;
	width:718px;
	margin:auto;
}

.bg-red img{
	width:130px;
	height: inherit;
	margin:auto;
}

table, th, td {
	border: 1px solid black;
	border-color: #FFFBF1;
	text-align:center; 
    vertical-align:middle;
}

table{
	margin:auto;
}

th{
	height: 114px;
	width:158px;
	background-color:#FA0F0C;
	color:#FFFBF1;
}

td {
	height: 55px;
	width: 158px;
	padding-left:20px;
	margin-left: auto;
	margin-right: auto;
/* 	text-align:center;  */
/*     vertical-align:middle; */
}

.even{
	background-color:#D0D8E8;
}
.odd{
	background-color:#E9EDF4;
}

.featured-desc-2 h3 {
    font-size: 15px;
    font-weight: 300;
    font-family: "Raleway";
