@CHARSET "UTF-8";

/* general page */
.page-picture-small{
	width: auto;
	height: 166px;
	margin-top:15px;
}

*{
	font-family: "Open Sans";
}

h1,h2,h3,h4,p{
	font-family: "Open Sans" !important;
}




/* index page */

.icon-check.slide-text i{
	font-family: "Open Sans" !important;
	font-size: 22px !important;
	font-weight: 160px !important;
}


.slide-text{
	font-size: 22px !important;
	word-break: break-all;
}
.slide-text-header{
	font-size: 48px !important;
}

.slide-text-sub-header{
	font-size: 20px;
	margin-top: -13px;
}

.tp-caption.small_light_white {
	font-family: "Open Sans" !important;
}

.featured-box img {
	width: 120px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-button: 12px;
	position:relative;
	z-index:0;
}

.featured-box2 img{
	position:relative;
	z-index:1;
}

.featured-desc-center{
	margin-top:12px;
}

.featured-desc-center p{
	margin:0px;
}

/* service-iaas page */
.img-wrp{
	padding-top:25px;
}

.img-wrp img{
	width:180px; 
	height:200px; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.iaaspage img{
	width:357px; 
	height:305px; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

ul.disc{
	list-style:disk;
	text-align:left;
}


.iaaspage .convenience-of-access{
	margin-top:25px;
	height:280px;
}

.iaaspage .pay-as-you-go{
	width:450px;
}

.iaaspage .scalable-service{
	width:310px;
	margin-left:20px;
}



.flip-h{
	 -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flip-v{
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}



.services-box-animated .front{
	height:82px;
	border:none;
}

.services-box-animated .back{
	height:auto;
	margin-top:20px;
	background: none repeat scroll 0% 0% #27629C
}

/*services-cloud workspace page*/
.parent-header{
	margin-top: 18px;
	margin-bottom: 2px;
	font-weight:700;
	font-style: italic;
}

.child-content{
	margin-bottom:2px;
}

.child-list{
	padding-left: 25px;
	list-style-type: none;
/* 	padding: 0px; */
/* 	margin: 0px; */
}


li.grey-arrow
{
	background-image: url("../../images/globalworx/cw/grey-arrow-bullet-point.png");
	background-repeat: no-repeat;
	background-position: -1px 9px;
	padding-left: 16px;
}


.featured-desc-gwx{
	text-align:left;
	margin: 40px 10px 0px 70px;
}
	
.child-list p{
	margin-bottom:10px;
	text-align:justify;
}


/*about-leadership page */
.team {
	height: 812px;
	vertical-align: middle;
}

.happy-clients-cite{
	color:#0D86FF;
	width:75%;
	float:left;
	margin-left:5px;
}


/* partner */

.button.color {
	background: none repeat scroll 0% 0% #27629C;
}

.button.gwxblue {
	color: #FFF;
	background: none repeat scroll 0% 0% #0080FF;
}

a.button.gwxblue.animated.fadeInLeft:hover{
	background: none repeat scroll 0% 0% #27629C;
}

a.button.color.animated.fadeInRight:hover{
	background: none repeat scroll 0% 0% #0080FF;
}



/*accessorize page*/

.bg-red{
	background-color:#FA0F0C;
	height: 113px;
	width:60%;
	margin:auto;
}

.bg-red img{
	width:130px;
	height: inherit;
	margin:auto;
}

table, th, td {
	border: 1px solid black;
	border-color: #FFFBF1;
	text-align:center; 
    vertical-align:middle;
}

table{
	width:60%;
	margin:auto;
}

th{
	height: 114px;
	width:158px;
	background-color:#FA0F0C;
	color:#FFFBF1;
}

td {
	height: 55px;
	width: 158px;
	padding-left:20px;
	margin-left: auto;
	margin-right: auto;
/* 	text-align:center;  */
/*     vertical-align:middle; */
}

.even{
	background-color:#D0D8E8;
}
.odd{
	background-color:#E9EDF4;
}

.sub-headline {
	font-size: 12px;
	font-weight:800;
	padding-right: 10px;
	text-transform:uppercase;
	letter-spacing:3px;
}





/*contact*/
.featured-desc-2 a {
	top:0;
}
input.field{
	width:96% !important;
	height: 13px;
}

